*{
    box-sizing: border-box;
}
::placeholder{
    color: rgba(255, 255, 255, 0.637) !important;
}
.form-control:focus{
    box-shadow: none;
    border-color: #86b7fe !important;
}
@media screen and (min-width: 992px){
    #logOut{
        width: fit-content !important;
    }
}